+++
title = "PopUpGardens"
linkTitle = "PopUpGardens"

+++

{{< blocks/cover title="PopUp Poplar Gardens" image_anchor="top"  color="green" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Resources <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Education <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p  style="font-size:30px"><b>Poplar common gardens aross the US for research and education </b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

PopUp Poplars is an NSF funded collaboration between eighteen univiersities and arborea across the United States.

The objective of this work is to characterize the adaptive variation in natural poplar stands, further explore the importance of hybridization in climatic adaptation, and predict poplar distributions with climate change.

A Common garden of naturally occuring hybrid poplar trees has been planted at each location. We will pair phenotypic surveys at these gardens with genome sequence data to identify gene by environment interactions and gene by gene by environment interactions contributing to adaptive phenotypes. We can use this information to understand how hybrid genotypes and genomic introgression produce novel phenotypes and conbute to climatic adaptation.

These gardens also serve as an open and available resource for education. With our arboreteum partners we introduce classrooms of all ages to scientific thinking, ecological principles, and a life-long love for plants.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-leaf" title="Reserach summary" %}}
Read a <a href="{{< relref "/about" >}}">project summary </a> for PopUp Poplar gardens and new results from our work.

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-school" title="Get Involved!" %}}
Explore <a href="{{< relref "/docs" >}}">research and educational </a>  opportunites for your classroom and students
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Social Media"  %}}
Find PopUpPoplar participants and research on <a href="https://twitter.com/search?q=%23popuppoplars&src=typed_query" >twitter </a>
{{% /blocks/feature %}}


{{< /blocks/section >}}





